<%- include('../layouts/adminheader') %>

<h2 class="page-title"><b>Pages</b></h2><br>
<a href="/admin/pages/add-page" class="btn btn-success btn-lg"><b>Add new pages</b></a>
<br><br>
<br><br>
<table  id="table_id" class="display">

    <thead>
        <tr class="home">
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
           
              <% pages.forEach(function(page){ %>
                <!-- <tr id="id_<%= page.id %>" class="<%= page._slug %>"> -->
                    <tr>
            <td><%= page.title %></td>
            <td><a href="/admin/pages/edit-page/<%= page.id %>" style="text-decoration: none;"><button type="button" class="btn btn-warning btn-sm"><b style="color:wheat;">EDIT</b></a></button></td>
          
            <% if (page.slug == "home") { %>
            <td></td>
            <% }  else {%>
            <td><a class="confirmDeletion" href="/admin/pages/delete-page/<%= page.id %>" style="text-decoration: none;"><button type="button" class="btn btn-danger btn-sm"><b style="color:wheat;">Delete</</a></button></td>
            
            <% }%>
        </tr>
        <% }); %>
    </tbody>
</table>

<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script>

    $('tbody').sortable({

        items: "tr:not('.home')",
        placeholder: "ui-state-hightlight",               //css class
        update: function () {                           
            var ids = $('tbody').sortable("serialize");   
            var url = "/admin/pages/reorder-pages";
            
            $.post(url, ids);
        }

    });

</script>

<%- include('../layouts/adminfooter') %>



















