<% include layouts/header %>

<% if (typeof cart !== "undefined") { %>

<h1 class="page-title">My Cart</h1>
<br><br>

<table class="table table-striped alignmiddle">
    
    <tr>
        <!-- <th>Image</th> -->
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th>Subtotal</th>
    </tr>
    
    <% var total = 0; %>
    <% cart.forEach(function(product){ %>
    <% var sub = parseFloat(product.qty * product.price).toFixed(2) %>
    <% total += +sub %>
    <tr>
        <!-- <td><img class="cpi" src="<%= product.image %>" alt=""></td> -->
        <td><%= product.title %></td>
        <td>$<%= product.price %></td>
        <td><%= product.qty %></td>
        <td>
            <a href="/cart/update/<%= product.title %>?action=add">+</a>&nbsp;
            <a href="/cart/update/<%= product.title %>?action=remove">-</a>&nbsp;
            <a href="/cart/update/<%= product.title %>?action=clear">Clear</a>&nbsp;
        </td>
        <td>$<%= sub %></td>
    </tr>
    <% }); %>

    <tr>
         <td colspan="6" align="right"><b>Total: </b> $<%= parseFloat(total).toFixed(2) %></td>
    </tr>
   
    <tr>
        <td colspan="5" align="right" style="background-color: wheat;">
            <a class="clearcart btn btn-danger" href="/cart/clear">Clear cart</a>
        </td>
    </tr>
    
</table>
 
    <div style="display: none;">
        
  <form method="post" action="/cart/checkout/pay">
    <% cart.forEach(function(pee){ %>
          <p>
            <label style="display: none;">Name</label>
            <input type="text" name="title" value="<%= pee.title %>" readonly style="display: none;">
          </p>
          <p>
                <label style="display: none;">Quantity</label>
                <input type="text" name="qty" value="<%= pee.qty %>" readonly style="display: none;">
              </p>
          <p>
            <label style="display: none;">Price</label>
            <input type="text" name="price" value="<%= parseFloat(total).toFixed(2) %>" readonly style="display: none;">
          </p>

        </div>
      
          <!-- <p class="full"> -->
            <button type="submit" class="btn btn-info" style="position: absolute; top:230px;">Pay with Paypal for <%= parseFloat(total).toFixed(2) %></button>
          <!-- </p> -->
 
</form>

<div style="background-color: wheat;">
        
        <form method="post" action="/cart/checkout/stripe">
        <p>
            <label style="display: none;">Name</label>
            <input type="text" name="title"  value="<%= pee.title %>" readonly style="display: none;">
          </p>
          <p>
                <label style="display: none;">Quantity</label>
                <input type="text" name="qty" value="<%= pee.qty %>" readonly style="display: none;">
              </p>
          <p>
            <label style="display: none;">Price</label>
            <input type="text" name="price" value="<%= total %>" readonly style="display: none;">
          </p>
              <!-- <form action="your-server-side-code" method="POST"> -->
  <script
    src="https://checkout.stripe.com/checkout.js" 
    class="stripe-button"
    data-key="pk_test_kzEtBzSaYTdH861psURrqZR1"
    data-amount="<%= total %>"
    data-name="Gaffer"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
  <script>
      //Hide Default Stripe Button

  document.getElementsByClassName('stripe-button-el')[0]
  .style.display='none';
  </script>
  <!-- <button type="submit" class="btn btn-info" style="position:absolute; top:230px; left:280px; ">Pay with Stripe for <%= parseFloat(total).toFixed(2) %></button> -->
</form>
                <% }); %>
           
      </div>
<% var num = 0; %>
<% cart.forEach(function(p){ %>
    <% num++ %>
<% }); %>


<% } else {%>
<h3 class="text-center">Your cart is empty.</h3>
<% } %>

<script>
    
$(function() {
   
    $('a.clearcart').on('click', function () {
        if (!confirm('Confirm clear cart'))
            return false;
    });
    
    // $('a.buynow').on('click', function (e) {
    //     e.preventDefault();
        
    //     $.get('/cart/buynow', function() {
    //         $('form.pp input[type=image]').click();
    //         $('.ajaxbg').show();
    //     });
    // });
        
});
    
</script>

<% include layouts/footer %>